@import "tailwindcss";
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);

:root {
  --primary-color: #0f1923;
  --navbar-font: 400 "Regular", sans-serif;
  --font-valorant: "VALORANT", sans-serif;
  --font-heading: "Tungsten-Bold", sans-serif;
  --font-W01: "DIN Next W01 Condensed Regular";
  --font-spacing: 2px;
  --color-white: #ece8e1;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden; /* Prevents the horizontal "wiggle" */
  height: auto;
  font-size: 125%;
}

.navy {
  color: var(--primary-color);
}

.font-roboto {
  font-weight: 400;
  font-family: "Roboto";
  font-size: 14px;
}

.title {
  font-family: var(--font-valorant);
  margin-top: 5rem;
}

.heading {
  font-family: var(--font-heading);
  font-size: clamp(3.5rem, 8vw, 7rem);
  color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navy-body {
  background-color: #111823;
  margin: 0;
  padding: 0;
  cursor: crosshair;
  max-width: 100vw;
  overflow-x: hidden;
}

li {
  display: flex;
  padding: 5px;
  border-radius: 10px;
}

li:hover a {
  transition: 400ms;
}

li:hover .nav-icons {
  transform: rotate(90deg);
  transition: 400ms;
  opacity: 100%;
}

ul {
  display: flex;
  align-self: center;
  gap: 2rem;
}

.nav-icons {
  width: auto;
  height: 0.5rem;
  margin-top: 3px;
  margin-left: 3px;
  opacity: 50%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 95vh; /* Adjust height as needed */
  overflow: hidden;
  background-color: rgb(0, 0, 0); /* Fallback color */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This "cuts off" edges to fill the space */
  z-index: 1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.679); /* Adds a 40% dark tint */
  z-index: 2; /* Sits on top of the video */

  /* Centering the content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.video-overlay p {
  font-family: "Tungsten-Bold", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}

.nav-bar {
  background-color: #111111;
  width: 100%;
  height: 80px;
  font-family: var(--navbar-font);
  letter-spacing: var(--font-spacing);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  z-index: 1000;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logos {
  display: flex;
}

.riot-logo {
  height: 100px;
  width: auto;
  cursor: pointer;
}

.valorant-logo {
  height: 30px;
  width: auto;
  cursor: pointer;
  align-self: center;
}

.search-container {
  display: flex;
  align-items: center;
  background: rgba(64, 64, 64, 0.1);
  transform: skewX(-20deg);
  border: 1px solid #333;
  padding: 5px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.search-container:focus-within {
  border-color: #ff4655;
  background: rgba(255, 255, 255, 0.15);
}

.search-input {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  outline: none;
  padding: 5px;
  font-weight: 300;
  font-family: "Regular", sans-serif;
}

.search-btn {
  background-color: #ff4655;
  transform: skewX(-5deg);
  box-shadow: 4px 4px 0px #000;
  transition: all 0.1s ease;
  border: none;
  color: #ece8e1;
  cursor: pointer;
  font-size: 1rem;
  padding: 1px;
}

.search-btn:active {
  transform: scale(0.9);
  background-color: #bd343f;
  text-decoration: underline;
}

.btn-text {
  transform: skewX(-20deg);
}

/* DROP DOWN ELEMENTS*/

.dropdown-trigger {
  display: flex;
  align-items: center;
}

.dropdown-container {
  position: relative;
  padding: 7px;
}

.dropdown-container:hover {
  background-color: #333;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2px;
  border-top: 5px solid #ff4655;
  background-color: #2e2e2e;
  min-width: 200px;
  padding: 10px 0;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dropdown-menu li a {
  color: white;
  border-radius: 10px;
  width: 100%;
  opacity: 60%;
  font-size: 12px;
  font-weight: 400;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-trigger:hover {
  color: #ff4655;
}

.dropdown-menu li a:hover {
  background-color: #4d4d4d;
  transition: 300ms;
  width: 100%;
  opacity: 100%;
}

.show-dropdown {
  display: block;
}

.hide-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.hide-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}
.hide-bottom {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transform: translateY(0);
}

/* VALORANTS LORE SECTION */

.right-hr {
  width: 80%;
  opacity: 40%;
  justify-self: end;
}

.left-hr {
  width: 80%;
  opacity: 40%;
  justify-self: start;
}

.semi-hr {
  width: 95%;
  opacity: 40%;
  justify-self: center;
}

.about-section {
  background-color: var(--color-white);

  min-height: 70vh;
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
}

.about-section video {
  height: 23rem;
  width: auto;
  align-self: center;
}

.abouttxt-box {
  align-self: center;
  border-right: 2px solid rgba(0, 0, 0, 0.249);
  margin-right: 20px;
  padding-left: 3rem;
}

.abouttxt-box p {
  width: 70%;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  align-items: center;
}
.agents-section {
  background-image: url(../images/patterngreen.jpg);
  background-size: cover;
  height: auto !important;
  min-height: 8cqmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Keeps image touching the top */
  justify-content: center;
  gap: 15vw;
  padding: 0 5% 100px 5%;
  color: var(--color-white);
}

.agents-section img {
  height: 75vh;
  object-fit: contain;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.573));
}

.agents-text {
  align-self: center; /* Centers text block vertically against the image */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Keeps text and button left-aligned */
  text-align: left;
}

.agents-section p {
  width: 100%;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.view-btn {
  background-color: #ff4655;
  background-size: cover;
  transform: skewX(-20deg);
  box-shadow: -4px 4px 0px #111111;
  transition: all 0.1s ease;
  border: 3px solid black;
  height: 4rem;
  width: 11rem;
  color: white;
  cursor: pointer;
  padding: 1px;
  margin-top: 3rem;
}

.view-btn h1 {
  transform: skewX(20deg);
  font-family: var(--navbar-font);
  font-weight: bolder;
  font-size: 1.1rem;
}

.view-btn:hover {
  transform: skewX(-20deg);
  background-color: rgba(255, 255, 0, 0.693);
  color: black;
  transition: 400ms;
}

.maps-section {
  background-color: var(--color-white);
  height: 90vh;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
  color: var(--primary-color);
}

.heading-dark {
  font-family: var(--font-heading);
  font-size: 7rem;
  color: var(--primary-color);
}

.maps-text {
  width: 35rem;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.map-btn:hover {
  transform: skewX(-20deg);
  background-color: yellowgreen;
  color: black;
  transition: 400ms;
}

.maps-section img {
  height: 35rem;
  width: auto;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.105));
}

.edge-fade {
  border-top: 10px solid #ff4655;
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.footer-section {
  background-color: #111111;
  color: var(--color-white);
  height: 50vh;
  width: auto;
  text-align: center;
  padding: 5rem;
  z-index: 1000;
  position: relative;
}

.footer-section p {
  width: 40rem;
  font-size: 18px;
}

.credit-container {
  background-color: rgb(34, 34, 34);
  border-top: 2px solid rgb(154, 133, 133);
  color: var(--color-white);
  height: 10vh;
  width: auto;
  font-family:
    "Regular",
    "Roboto" sans-serif;
  font-size: smaller;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.credit-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 50%;
  margin-bottom: 5rem;
}

.white-body {
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  cursor: crosshair;
}

.outline-text {
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 20rem;
  color: transparent; /* Makes the inside clear */
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.1); /* Adds the thin outline */
}

.outline-text-s {
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 8rem;
  color: transparent; /* Makes the inside clear */
  -webkit-text-stroke: 3px var(--primary-color);
}

.outline-heading {
  text-align: end;
}

.map-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
}

.small-heading {
  font-family: var(--font-heading);
  font-size: 3rem;
  color: var(--primary-color);
}

.short-description {
  width: 45rem;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  opacity: 70%;
}

.map-container {
  margin: 5rem 5rem 10rem 5rem;
}

.clips-container {
  margin: 5rem 5rem 10rem 5rem;
  padding: 2rem;
  box-shadow: -4px 14px 0px #171717ab;
  border: 5px solid rgb(0, 0, 0);
  background-image: url(../images/patterngreen.jpg);
  background-size: cover;
  transition: all 0.5s ease-in-out;
}

.clips-container:hover {
  margin: 5rem 5rem 10rem 5rem;
  padding: 2rem;
  box-shadow: -4px 4px 0px #171717;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(216, 216, 0);
  transition: 300ms ease-in-out;
  font-size: 5rem;
}
.map-image {
  width: auto;
  height: 100vh;
  border-top: 5px solid #ff4655;
  margin-top: 2rem;
}

.iframe-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iframe-links iframe {
  width: 360px;
  height: 240px;
  border: 3px solid rgb(0, 0, 0);
}

.card-box {
  background-color: var(--primary-color);
  height: 100vh;
  width: 50vh;
  transform: skewX(-20deg);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  position: relative;
}

.card-box img {
  object-fit: cover;
  width: 1000px;
  height: 100vh;
}

.skew-container {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.512);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  transition: all 0.5 ease-in-out;
}

.card-overlay:hover {
  background-color: transparent;
  backdrop-filter: blur(0px);
  color: yellowgreen;
}

.heading-white-m {
  font-family: var(--font-heading);
  font-size: 6rem;
}
.heading-white-b {
  font-family: var(--font-heading);
  font-size: 10rem;
  color: var(--color-white);
}

.heading-b {
  font-family: var(--font-heading);
  font-size: 10rem;
  text-align: center;
}

.agents-card {
  width: 21rem;
  height: 30rem;
  background-color: rgb(15, 15, 18);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.agents-card img {
  position: relative;
  height: 30rem;
  transition: 100ms ease-in-out;
  z-index: 1;
  filter: grayscale(100%);
}

.agents-card img:hover {
  transform: scale(1.1);
  filter: grayscale(0%); 
}

.agents-name {
  width: 100%;
  height: 4rem;
  background-image: url(../images/patternwhite.jpg);
  background-size: cover;
  z-index: 10;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
}

.agents-name h1 {
  color: black;
  z-index: 10;
  font-size: 2em;
  font-family: var(--font-heading);
}

.card-section {
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */

  max-width: 1200px; /* Limits how wide the grid can grow */
  margin: 0 auto; /* Sets equal space on left and right */
  padding: 0 40px;
}

.all-agents {
  padding-top: 50px;
}

.all-agents h1 {
  text-align: left;
}
.content-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-style {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-bottom: 1px rgb(0, 0, 0) solid;
  padding: 1em;
  width: 80%;
  font-size: 18px;
}

.button-style:hover img {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.content-btn a:hover {
  background-color: rgb(255, 246, 246);
}

@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }

  .agents-section img,
  .about-section video,
  .maps-section img,
  .clips-container,
  .map-image {
    display: none !important;
  }

  .agents-section,
  .about-section,
  .maps-section {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    height: auto;
  }

  .agents-text,
  .abouttxt-box,
  .maps-text {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .agents-section p,
  .abouttxt-box p,
  .maps-text p,
  .short-description {
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
  }

  .view-btn,
  .map-btn {
    margin-top: 2rem;
  }

  .footer-section p {
    width: auto;
  }

  .video-overlay p {
    font-size: 1.1rem;
    width: 90%;
    text-align: center;
  }

  .video-overlay h1 {
    font-size: 5.1rem;
    width: 90%;
    text-align: center;
  }
}
